POSTGRES_DB=oil_shop
POSTGRES_USER=oil_shop
POSTGRES_PASSWORD=oil_shop_local
POSTGRES_PORT=5432

DATABASE_URL=jdbc:postgresql://localhost:5432/oil_shop
DATABASE_USERNAME=oil_shop
DATABASE_PASSWORD=oil_shop_local
SERVER_PORT=8080
